/* slider1 */

.ale {
    background-image: url("/images/allegra1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ban {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 28%;
    left: 19.7%;
    top: 30.3%;
    z-index: 10;
    cursor: pointer;
}

.ban img {
    width: 100%;
    height: 83%;
}


/* slider2 */

.ale1 {
    background-image: url("/images/allegra2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ban1 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 8.7%;
    top: 45.3%;
    z-index: 10;
    cursor: pointer;
    width: 64%;
}

.ban1 img {
    width: 100%;
    height: auto;
}


/* slider3 */

.ale2 {
    background-image: url("/images/allegra3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 6.1%;
    top: 37.3%;
    z-index: 10;
    cursor: pointer;
    width: 39%;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner1 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 6.2%;
    top: 63.1%;
    z-index: 10;
    cursor: pointer;
    width: 27%;
}

.banner1 img {
    width: 100%;
    height: auto;
}

.banner2 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 36%;
    top: 64.6%;
    z-index: 10;
    cursor: pointer;
    width: 28%;
}

.banner2 img {
    width: 100%;
    height: auto;
}

.banner3 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 67.1%;
    top: 64.6%;
    z-index: 10;
    cursor: pointer;
    width: 28%;
}

.banner3 img {
    width: 100%;
    height: auto;
}


/* slider4 */

.ale3 {
    background-image: url("/images/allegra4.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner4 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 36.8%;
    top: 32.3%;
    z-index: 10;
    cursor: pointer;
    width: 56%;
}

.banner4 img {
    width: 100%;
    height: auto;
}

.banner5 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 54.7%;
    top: 44.9%;
    z-index: 10;
    cursor: pointer;
    width: 44%;
}

.banner5 img {
    width: 100%;
    height: auto;
}


/* slider5 */

.ale4 {
    background-image: url("/images/allegra5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner6 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 7.5%;
    top: 23%;
    z-index: 10;
    cursor: pointer;
    width: 45.3%;
}

.banner6 img {
    width: 100%;
    height: auto;
}

.banner7 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 7.7%;
    top: 46.1%;
    z-index: 10;
    cursor: pointer;
    width: 23.2%;
}

.banner7 img {
    width: 100%;
    height: auto;
}

.banner8 img {
    width: 100%;
    height: auto;
}

.banner8 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 7.5%;
    top: 64.3%;
    z-index: 10;
    cursor: pointer;
    width: 23.2%;
}

.banner9 img {
    width: 100%;
    height: auto;
}

.banner9 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 37.6%;
    top: 44.7%;
    z-index: 10;
    cursor: pointer;
    width: 23.2%;
}

.banner10 img {
    width: 100%;
    height: auto;
}

.banner10 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 37.5%;
    top: 62.9%;
    z-index: 10;
    cursor: pointer;
    width: 23.2%;
}


/* slider6 */

.ale5 {
    background-image: url("/images/allegra6.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner11 img {
    width: 100%;
    height: auto;
}

.banner11 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 30.5%;
    top: 31.8%;
    z-index: 10;
    cursor: pointer;
    width: 63%;
}

.banner12 img {
    width: 100%;
    height: auto;
}

.banner12 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 5.7%;
    top: 62.8%;
    z-index: 10;
    cursor: pointer;
    width: 28%;
}

.banner13 img {
    width: 100%;
    height: auto;
}

.banner13 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 28%;
    left: 38.2%;
    top: 59.8%;
    z-index: 10;
    cursor: pointer;
    width: 24%;
}

.banner14 img {
    width: 100%;
    height: auto;
}

.banner14 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 68.7%;
    top: 61.6%;
    z-index: 10;
    cursor: pointer;
    width: 25%;
}


/* slider7 */

.ale6 {
    background-image: url("/images/allegra7.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.part img {
    width: 100%;
    height: auto;
}

.part {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: -0.3%;
    top: 61.4%;
    z-index: 10;
    cursor: pointer;
    width: 34%;
}

.part1 img {
    width: 100%;
    height: auto;
}

.part1 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 37.9%;
    top: 65.2%;
    z-index: 10;
    cursor: pointer;
    width: 24%;
}

.part2 img {
    width: 100%;
    height: auto;
}

.part2 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 66.9%;
    top: 61.2%;
    z-index: 10;
    cursor: pointer;
    width: 26%;
}


/* slaider8 */

.ale7 {
    background-image: url("/images/allegra8.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.part3 img {
    width: 100%;
    height: auto;
}

.part3 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 23.1%;
    top: 31.8%;
    z-index: 10;
    cursor: pointer;
    width: 24%;
}

.part4 img {
    width: 100%;
    height: auto;
}

.part4 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 28%;
    left: 56.4%;
    top: 28.8%;
    z-index: 10;
    width: 16%;
    cursor: pointer;
}

.part5 img {
    width: 100%;
    height: auto;
}

.part5 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 10.2%;
    top: 54.5%;
    z-index: 10;
    cursor: pointer;
    width: 22%;
}

.part6 img {
    width: 100%;
    height: auto;
}

.part6 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 39.3%;
    top: 51.1%;
    z-index: 10;
    cursor: pointer;
    width: 22%;
}

.part7 img {
    width: 100%;
    height: auto;
}

.part7 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 69%;
    top: 53.7%;
    z-index: 10;
    cursor: pointer;
    width: 20%;
}


/* slaider9 */

.ale8 {
    background-image: url("/images/allegra9.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.part8 img {
    width: 100%;
    height: auto;
}

.part8 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 5%;
    top: 26.2%;
    z-index: 10;
    cursor: pointer;
    width: 28%;
}

.part9 img {
    width: 100%;
    height: auto;
}

.part9 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 5%;
    top: 36.5%;
    z-index: 10;
    cursor: pointer;
    width: 54%;
}

.part10 img {
    width: 100%;
    height: auto;
}

.part10 {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: auto;
    left: 67.3%;
    top: 38.5%;
    z-index: 10;
    cursor: pointer;
    width: 27%;
}


/* slaider10 */

.ale9 {
    background-image: url("/images/allegra10.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* pop up */

.lupita {
    position: absolute;
    top: 67%;
    left: 56.4%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup73 {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup73 img {
    width: 100%;
    height: 100%;
}

.cerrar60 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 21%;
    left: 72%;
    cursor: pointer;
}


/* pop up1 */

.lupita0 {
    position: absolute;
    top: 70%;
    left: 13.4%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup74 {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup74 img {
    width: 100%;
    height: 100%;
}

.cerrar61 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 27%;
    left: 88%;
    cursor: pointer;
}


/* pop up2*/

.lupita-1 {
    position: absolute;
    top: 70%;
    left: 47%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup75 {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup75 img {
    width: 100%;
    height: 100%;
}

.cerrar62 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 15%;
    left: 84%;
    cursor: pointer;
}


/* pop up3 */

.lupita2 {
    position: absolute;
    top: 69%;
    left: 75.4%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup76 {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup76 img {
    width: 100%;
    height: 100%;
}

.cerrar63 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 14%;
    right: 9%;
    cursor: pointer;
}

#toSlide1 {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1000;
    bottom: 21.5%;
    left: 46.6%;
    cursor: pointer;
}

#toSlide2 {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1000;
    bottom: 21.5%;
    left: 49.3%;
    cursor: pointer;
}

#toSlide3 {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1000;
    bottom: 21.5%;
    left: 51.7%;
    cursor: pointer;
}


/* pop up3 */

.lupita12 {
    position: absolute;
    top: 76%;
    left: 32.4%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup90 {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup90 img {
    width: 100%;
    height: 100%;
}

.cerrar65 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 19%;
    left: 88%;
    cursor: pointer;
}

.lupita15 {
    position: absolute;
    top: 77%;
    left: 59.4%;
    height: 15.1%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    z-index: 100;
}

.popup50 {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup50 img {
    width: 100%;
    height: 100%;
}

.cerrar67 {
    width: 6%;
    height: 10%;
    position: absolute;
    z-index: 11;
    top: 19%;
    left: 82%;
    cursor: pointer;
}