.fondo {
  background-image: url("/images/fondo1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foto1 {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 28%;
  left: 3%;
  top: 52%;
  z-index: 10;
  cursor: pointer;
  -webkit-animation: infinite 1s;
  animation: infinite 1s;
}

.foto1 img {
  width: 358px;
  height: 143%;
}

.foto2 {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 28%;
  left: 73.5%;
  top: 67%;
  z-index: 10;
  cursor: pointer;
  -webkit-animation: infinite 1s;
  animation: infinite 1s;
}

.foto2 img {
  width: 363px;
  height: 95%;
}

.titulo {
  position: absolute;
  width: 60.1%;
  top: 36.9%;
  left: 20%;
  height: 15.1%;
}

/* Navegacion */
.boton {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 31.8%;
  left: 45.5%;
}

.enterogermina {
  width: 15.4%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 5.5%;
}

.home {
  width: 4.9%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 0.1%;
}

.dulcolax {
  width: 15.4%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 21.3%;
}

.esentiale {
  width: 15.3%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 37.1%;
}

.buscapina {
  width: 15.1%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 52.9%;
}

.allegra {
  width: 15.2%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 68.6%;
}

.pharmathon {
  width: 15.2%;
  height: 6.6%;
  position: absolute;
  bottom: 1.8%;
  left: 84.6%;
}

/* slider 2 */
.fondo2 {
  background-image: url("/images/fondo2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mage1 {
  position: absolute;
  width: 60.1%;
  top: 20.8%;
  left: 4.8%;
  height: 15.1%;
}

.mage1 img {
  width: 150.4%;
  height: 150.1%;
}

.mage2 {
  position: absolute;
  width: 100%;
  top: 50.1%;
  left: 0%;
  height: 15.1%;
}

.mage2 img {
  width: 100%;
}

.mage3 {
  position: absolute;
  width: 60.1%;
  top: 50.2%;
  left: 4.9%;
  height: 15.1%;
}

/* navegacion */
.boton1 {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 77.8%;
  left: 88.5%;
}

.seguir {
  width: 2.3%;
  height: 4%;
  position: absolute;
  bottom: 12.4%;
  left: 47.5%;
}

.seguir1 {
  width: 2.3%;
  height: 4%;
  position: absolute;
  bottom: 12.4%;
  left: 50.5%;
}

/* slider3 */
.fondo3 {
  background-image: url("/images/fondo3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.po1 {
  position: absolute;
  width: 60.1%;
  top: 37.4%;
  left: 0%;
  height: 15.1%;
}

.po1 img {
  width: 166.3%;
  height: 196%;
}

.po2 {
  position: absolute;
  width: 60.1%;
  top: 44.6%;
  left: 39.1%;
  height: 15.1%;
  -webkit-animation: infinite 1s;
  animation: infinite 1s;
}

.po2 img {
  width: 90.9%;
  height: 292.1%;
}

/* Navegacion */
.nest {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 77.8%;
  left: 88.5%;
}

.after {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 77.8%;
  left: 2.5%;
}

/* slider4 */
.fondo4 {
  background-image: url("/images/fondo4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Navegacion */
.nest1 {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 77.8%;
  left: 88.5%;
}

.after1 {
  width: 9.4%;
  height: 10.6%;
  position: absolute;
  bottom: 77.8%;
  left: 2.5%;
}

.lat {
  position: absolute;
  width: 60.1%;
  top: 21.9%;
  left: 6.7%;
  height: 15.1%;
}

.lat img {
  width: 125%;
  height: 55%;
}

.lat1 {
  position: absolute;
  width: 60.1%;
  top: 31.8%;
  left: 6.6%;
  height: 15.1%;
}

.lat1 img {
  width: 144.5%;
  height: 160%;
}

.lat3 {
  position: absolute;
  width: 60.1%;
  top: 56.3%;
  left: 6.6%;
  height: 15.1%;
}

.lat3 img {
  width: 144.5%;
  height: 160%;
}

.lupaR {
  position: absolute;
  z-index: 1;
  top: 76.2%;
  left: 60.4%;
  height: 15.1%;
}

.lupaR img {
  width: 110.8%;
  height: 41.9%;
}

/* popup slider3 */
.popup {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup img {
  width: 100%;
  height: 100%;
}

.cerrar {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 146px;
  left: 1190px;
  cursor: pointer;
}

/* slider 4 */
.fondo5 {
  background-image: url("/images/fondo5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lead {
  position: absolute;
  width: 60.1%;
  top: 20.9%;
  left: 9.1%;
  height: 15.1%;
}

.lead img {
  width: 128%;
  height: 79.3%;
}

.lead1 {
  position: absolute;
  width: 60.1%;
  top: 34.9%;
  left: 23.2%;
  height: 15.1%;
}

.lead1 img {
  width: 88.5%;
  height: 154.3%;
}

.lead2 {
  position: absolute;
  width: 60.1%;
  top: 60.9%;
  left: 5.2%;
  height: 15.1%;
}

.lead2 img {
  width: 149.5%;
  height: 154.3%;
}

/* poppuo */

.lupaR1 {
  position: absolute;
  z-index: 1;
  top: 42.2%;
  left: 40.4%;
  height: 15.1%;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

/* popup slider3 */
.popup {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup img {
  width: 100%;
  height: 100%;
}

.cerrar {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 126px;
    left: 1236px;
  cursor: pointer;
}


/* slider5 */
.fondo6 {
  background-image: url("/images/gondo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mark {
  position: absolute;
  width: 60.1%;
  top: 20.9%;
  left: 14.1%;
  height: 15.1%;
}

.mark img {
  width: 128%;
  height: 79.3%;
}
.mark1 {
  position: absolute;
  width: 60.1%;
  top: 46.4%;
    left: 4.5%;
  height: 15.1%;
}

.mark1 img {
  width: 51.2%;
  height: 116.9%;
}
.mark2 {
  position: absolute;
  width: 60.1%;
  top: 46.4%;
    left: 36.5%;
    height: 15.1%;
}

.mark2 img {
  width: 44.7%;
  height: 226.9%;
}
.mark4 {
  position: absolute;
  width: 60.1%;
  top: 46.4%;
    left: 36.5%;
    height: 15.1%;
}

.mark4 img {
  width: 44.7%;
  height: 226.9%;
}

/* poppuo */

.lupaR2 {
  position: absolute;
  z-index: 1;
  top: 36.2%;
    left: 51.4%;
  height: 15.1%;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

/* popup slider3 */
.popup1 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup1 img {
  width: 100%;
  height: 100%;
}

.cerrar {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 137px;
    left: 1061px;
  cursor: pointer;
}

/* poppuo */

.lupaR3 {
  position: absolute;
  z-index: 1;
  top: 36.2%;
    left: 88.4%;
  height: 15.1%;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

/* popup slider3 */
.popup2 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup2 img {
  width: 100%;
  height: 100%;
}

.cerrar1 {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 146px;
    left: 1252px;
  cursor: pointer;
}

/* slider6 */
.fondo7 {
  background-image: url("/images/fondo7.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.port {
  position: absolute;
  width: 60.1%;
  top: 28.9%;
  left: 4.9%;
  height: 15.1%;
}

.port img {
  width: 92%;
    height: 390.3%;
}
.port1 {
  position: absolute;
  width: 60.1%;
  top: 14.4%;
  left: 10.5%;
  height: 15.1%;
}

.port1 img {
  width: 111.2%;
  height: 45.9%;
}
/* poppuo */

.lupaR4 {
  position: absolute;
  z-index: 1;
  top: 48.2%;
    left: 85.4%;
  height: 15.1%;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

/* popup slider3 */
.popup2 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup2 img {
  width: 100%;
  height: 100%;
}

.cerrar {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 137px;
    left: 1201px;
  cursor: pointer;
}

/* poppuo */

.lupaR5 {
  position: absolute;
  z-index: 1;
  top: 64.2%;
  left: 84.4%;
  height: 15.1%;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

/* popup slider3 */
.popup3 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup3 img {
  width: 100%;
  height: 100%;
}

.cerrar2 {
  width: 6%;
  height: 10%;
  position: absolute;
  z-index: 11;
  top: 179px;
    left: 1283px;
  cursor: pointer;

}

/* slider7 */
.fondo8 {
  background-image: url("/images/fondo8.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}